<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI-Powered Proctoring System</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <header>
    <h1>AI-Powered Proctoring System</h1>
    <p>Real-time monitoring and authentication for secure exams</p>
  </header>

  <main>
    <div class="container">
      <a href="login.html" class="btn">Login</a>
      <a href="dashboard.html" class="btn">Dashboard</a>
    </div>
  </main>

  <footer>
    <p>© 2025 Aswin Surendran K | MIT License</p>
  </footer>
</body>
</html>
